body {
	background: white;
	font-family: arial, verdana, sans-serif;
}

h3 {
	color:#493aea;
}

u {
	color:#3a83ea;
}

.success {
	color:green;
}

.error {
	color:red;
}

.warning {
	color:orange;
}

#master-subcontent {
	width:500px;
	height:500px;
	text-align: center;
	background-color: #d1d1d1;
	text-align:left;
}

.content {
    margin-left:5%;
	text-align:center;
	color:#d1d1d1;
	float:left;
	height:100px;
	width:25%;
	background-color: #808080;
}

.alignleft {
	position:absolute;  
	left:0.00010%; 
}

.alignright {
	position:absolute;  
	right:0.00010%; 
}
